body {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*ゲーム全体の枠*/
#game {
    width: 900px;
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
    background-image: url('images/forest.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

.scroll-Background {
    animation: scrollBackground 10s linear infinite;
}
/* 背景をスクロールさせるアニメーション */
@keyframes scrollBackground {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.running {
    animation: runCycle 0.3s infinite alternate;
}
/* 走ってるような振動アニメーション */
@keyframes runCycle {
    0% { transform: translateX(0px); }
    100% { transform: translateX(5px); }
}

/*プレイヤーキャラ*/
#player {
    width: 40px;
    height: 30px;
    background-image: url('images/ninja1.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: absolute;
    bottom: 0;
    left: 50px;
}

/*障害物*/
#obstacle {
    width: 30px;
    height: 40px;
    background-image: url('images/log.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* スマホ用ジャンプボタン */
#jumpbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    z-index: 1000;
    touch-action: manipulation;
    /* -webkit-transform: translateZ(0); */
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    #jumpbutton {
        display: block;
    }
}

#rotate-warning {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    color: white;
    font-size: 24px;
    /* text-align: center; */
    z-index: 9999;

    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (orientation: portrait) {
    #rotate-warning {
        display: flex; /* flexとして表示 */
    }
    /* 横向きでない場合、すべて非表示 */
    #game, #player, #obstacle, #jumpbutton, #playerName, #score, #ranking, h1, h2, p {
        display: none !important;
    }
}
